/*==== CSS del Logo ===*/
.navbar-brand :hover{
    transition: all 0.5s;
    transform: scale(150%)rotate(-15deg);
}

/*==== CSS de Letras ====*/
.marquesina{
    filter: drop-shadow(8px 8px 4px);
}

/*==== css del carrusel ====*/
.corrousel {
    width: 40%;
    max-width: 55%;
}

/*==== Css del Form ====*/
.form-item{
    padding: 0.5%;
    
}