/*==== CSS del Logo ===*/
.nav-item :hover{
    background-color: goldenrod;
    transition: all 0.7s;
    
}

/*==== CSS de Letras ====*/
.marquesina{
    filter: drop-shadow(8px 8px 4px);
}

/*==== css del carrusel ====*/
.dj {
    width: 45%;
    max-width: 55%;
    margin-left: 250px;
}

/*==== css del contacto padre ====*/
.contacto{
   padding: 50px ;
   text-align: center;

}

/*==== Footer ====*/
.encontranos{
    padding-top: 20px;
  }
  