/*==== CSS del Logo ===*/
.navbar :hover{
    background-color: goldenrod;
    transition: all 0.5s;
    
}

/*==== CSS de Letras ====*/
.marquesina{
    filter: drop-shadow(8px 8px 4px);
}

/*==== css del carrusel ====*/
.corousel {
    width: 40%;
    max-width: 55%;
}

/*==== css del contacto padre ====*/
.contacto{
   padding: 50px ;
   

}


/*==== Css del Form ====*/
.form-item{
    text-align: row;
    border: solid black 1px;
    
}